<div class="text-center jumbotron-container mb-5">
<div class="overlay"></div>
  <%= image_tag "Wedding-Dances-Lessons-1500x630.jpg", class: "img-fluid w-100 backg-img-main", alt:"wedding image" %>
  <h1 class="ml16 text-light centered"><span class="letters">Votre mariage, votre musique</span></h1>
</div>

<div class="container marketing">
  <div class="row mb-5">
    <div class="col text-center">
      <h1 class="text-primary">Get a Band</h1>
      <p>Vous êtes à la recherche de l'artiste ou du groupe qui animera votre grand jour ? Chez Get a Band, nous vous proposons
      une sélection exclusive d'artistes de votre région qui rendront votre mariage inoubliable,
      et nous vous accompagnons à chaque étape du processus de réservation.</p>
    </div>
  </div>

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4 text-center">
      <i class="fas fa-search fa-4x"></i>
      <h2 class="mt-3">Découvrez</h2>
      <p>Parcourez des dizaines d'artistes qui sauront aussi bien ajouter de la magie à votre cérémonie que faire danser vos invités jusqu'au bout de la nuit. Artistes solo, groupes, DJ, du classique à l'électro : Get a Band s'adapte à vos envies.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <i class="far fa-handshake fa-4x"></i>
      <h2 class="mt-3">Réservez</h2>
      <p>Une fois votre sélection faite, remplissez le détail de votre événement et envoyez simplement une demande de réservation en ligne ! Chez Get a Band, pas de surprise avec les devis : les prix sont indiqués à l'avance.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4 text-center">
      <i class="fas fa-glass-cheers fa-4x"></i>
      <h2 class="mt-3">Profitez</h2>
      <p>Une fois la réservation confirmée par l'artiste, vous n'avez plus rien à faire ! Le paiement de l'acompte est validé et le reste de la somme automatiquement versée après l'événement. Vive les mariés !</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->
  <div class="row mt-5">
    <div class="col text-center">
      <h1 class="text-primary">Le mariage de vos rêves en un instant</h1>
    </div>
  </div>
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Vivez l'expérience Wedding Planner</h2>
      <p class="lead">Réserver les artistes de son mariage sur Get a Band, c'est bénéficier de l'expérience d'une équipe d'experts du mariage qui vous
      permettront d'organiser l'ambiance musicale de vos rêves pour le grand jour sans stress. Que vous souhaitiez un mariage sobre
      ou une fête extravagante, faites-nous part de vos idées, de vos envies, de vos goûts et nous vous proposerons les artistes qui sauront leur donner vie !</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "homepage_1.jpg", class: "img-fluid", style:"height:400px; object-fit:cover", alt:"homepage image" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Découvrez et soutenez des artistes locaux</h2>
      <p class="lead">Chez Get a Band, nous sommes avant tout amoureux de la musique.
      Parcourez les profils des artistes de votre région et soutenez la vie culturelle locale en donnant une plateforme à des musicien.ne.s émergent.e.s !</p>
    </div>
    <div class="col-md-5 order-md-1">
      <%= image_tag "homepage_2.jpg", class: "img-fluid", style:"height:400px; object-fit:cover", alt:"homepage image" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Facilitez-vous la vie !</h2>
      <p class="lead">Organiser un mariage peut être aussi excitant qu'épuisant, et on peut vite se perdre dans le labyrinthe des sites spécialisés !
      Avec Get a Band, une simple inscription avec e-mail suffit pour commencer à contacter les artistes.<br/>
      Du côté des artistes, plus besoin de rédiger des devis, d'en suivre la trace, de centraliser les différentes demandes… Sur Get a Band, les artistes
      peuvent valider et suivre l’ensemble de leurs réservations d’un coup d'œil.
      <br/>Tout le monde gagne du temps et peut se concentrer sur l'essentiel : la musique de votre mariage !
</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "homepage_3.jpg", class: "img-fluid w-100", style:"height:400px; object-fit:cover",  alt:"homepage image" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row mt-5">
    <div class="col text-center">
      <h1 class="text-primary">Notre équipe</h1>
    </div>
  </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="team text-center rounded p-3 py-4">
            <%= image_tag "woman_icon.png", class: "img-fluid avatar avatar-medium shadow rounded-pill",  alt:"team avatar" %>
            <div class="content mt-3">
              <h4 class="title mb-0">Ariane</h4>
              <small class="text-muted">Amatrice de "Qui veut épouser mon fils ?"</small>
              <ul class="list-unstyled mt-3 mb-0">
                <li class="list-inline-item">
                  <%= link_to "https://github.com/arejl", class:"btn btn-primary btn-social" do %>
                      <i class="fab fa-github"></i>
                  <% end %>
                </li>
              </ul><!--end icon-->
          </div>
        </div>
      </div><!--end col-->
      
      <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="team text-center rounded p-3 py-4">
              <%= image_tag "man_icon.png", class: "img-fluid avatar avatar-medium shadow rounded-pill",  alt:"team avatar" %>
              <div class="content mt-3">
                  <h4 class="title mb-0">Arnaud</h4>
                  <small class="text-muted">Expert de "4 mariages pour une lune de miel"</small>
                  <ul class="list-unstyled mt-3 mb-0">
                      <li class="list-inline-item">
                        <%= link_to "https://github.com/JAG-ROSA", class:"btn btn-primary btn-social" do %>
                            <i class="fab fa-github"></i>
                        <% end %>
                      </li>
                  </ul><!--end icon-->
              </div>
          </div>
      </div><!--end col-->
      
      <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="team text-center rounded p-3 py-4">
              <%= image_tag "woman_icon.png", class: "img-fluid avatar avatar-medium shadow rounded-pill",  alt:"team avatar" %>
              <div class="content mt-3">
                  <h4 class="title mb-0">Caroline</h4>
                  <small class="text-muted">Gagnante des Reines du Shopping spécial mariage</small>
                  <ul class="list-unstyled mt-3 mb-0">
                      <li class="list-inline-item">
                        <%= link_to "https://github.com/Caro407", class:"btn btn-primary btn-social" do %>
                            <i class="fab fa-github"></i>
                        <% end %>
                      </li>
                  </ul><!--end icon-->
              </div>
          </div>
      </div><!--end col-->
      
      <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="team text-center rounded p-3 py-4">
              <%= image_tag "man_icon.png", class: "img-fluid avatar avatar-medium shadow rounded-pill",  alt:"team avatar" %>
              <div class="content mt-3">
                  <h4 class="title mb-0">Martin</h4>
                  <small class="text-muted">Marié par Evelyne Thomas sur le plateau de "C'est mon choix"</small>
                  <ul class="list-unstyled mt-3 mb-0">
                      <li class="list-inline-item">
                        <%= link_to "https://github.com/Martinfzz", class:"btn btn-primary btn-social" do %>
                            <i class="fab fa-github"></i>
                        <% end %>
                      </li>
                  </ul><!--end icon-->
              </div>
          </div>
      </div><!--end col-->
  </div><!--end row-->

  <div class="row justify-content-center mt-5">
      <div class="col-lg-8 text-center">
          <h1 class="text-primary">Contactez-nous</h2>
          <hr class="divider my-4">
          <p class="mb-5">Vous souhaitez en savoir plus ? Besoin d'aide ? N'hésitez pas à nous passer un coup de fil ou à nous écrire et nous vous recontacterons dans les plus brefs délais !</p>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
          <i class="fas fa-phone fa-3x mb-3 text-primary"></i>
          <div>+33 (0)6 12 34 56 78</div>
      </div>
      <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-primary"></i>
          <a class="d-block" href="mailto:getaband@yopmail.com">getaband@yopmail.com</a>
      </div>
  </div>
</div><!-- /.container -->

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const textWrapper = document.querySelector('.ml16');
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
    anime.timeline({loop: true})
      .add({
        targets: '.ml16 .letter',
        translateY: [-100,0],
        easing: "easeOutExpo",
        duration: 1400,
        delay: (el, i) => 30 * i
      }).add({
        targets: '.ml16',
        opacity: 0,
        duration: 1000,
        easing: "easeOutExpo",
        delay: 1000
      });
  }, false);
</script>
