<div class="text-center jumbotron-container mb-5">
<div class="overlay"></div>
  <%= image_tag "Wedding-Dances-Lessons-1500x630.jpg", class: "img-fluid w-100 backg-img-main", alt: "wedding image" %>
  <h1 class="ml16 text-light centered"><span class="letters">Votre mariage, votre musique</span></h1>
</div>

<div class="container marketing">
  <h1 class="text-primary text-center mb-5">Get a Band</h1>
  <div class="row">
    <div class="col-lg-4 text-center">
      <i class="fas fa-search fa-4x"></i>
      <h2 class="mt-3">Découvrez</h2>
      <p>Parcourez des dizaines d'artistes qui sauront aussi bien ajouter de la magie à votre cérémonie que faire danser vos invités jusqu'au bout de la nuit. Artistes solo, groupes, DJ, du classique à l'électro : Get a Band s'adapte à vos envies.</p>
    </div>
    <div class="col-lg-4 text-center">
      <i class="far fa-handshake fa-4x"></i>
      <h2 class="mt-3">Réservez</h2>
      <p>Une fois votre sélection faite, remplissez le détail de votre événement et envoyez simplement une demande de réservation en ligne ! Chez Get a Band, pas de surprise avec les devis : les prix sont indiqués à l'avance.</p>
    </div>
    <div class="col-lg-4 text-center">
      <i class="fas fa-glass-cheers fa-4x"></i>
      <h2 class="mt-3">Profitez</h2>
      <p>Une fois la réservation confirmée par l'artiste, vous n'avez plus rien à faire ! Le paiement de l'acompte est validé et le reste de la somme automatiquement versée après l'événement. Vive les mariés !</p>
    </div>
  </div>
  <div class="row">
    <%= link_to "Réserver un artiste pour votre mariage", artists_path, class: "btn btn-primary btn-block w-75 mx-auto mt-5" %>
  </div>
  <h1 class="text-primary text-center mt-5 mb-3">Découvrez nos artistes</h1>
  <div class="row justify-content-center">
    <% @sample_artists.each do |artist| %>
      <%= render "artists/card", artist: artist %>
    <% end %>
  </div>

  <h1 class="text-primary text-center pt-5">Le mariage de vos rêves en un instant</h1>
  <div class="row featurette border-top border-bottom p-3">
    <div class="col-md-5">
      <%= image_tag "homepage_1.jpg", class: "img-fluid", style: "height:400px; object-fit:cover", alt: "homepage image" %>
    </div>
    <div class="col-md-7 py-4">
      <h3 class="featurette-heading text-justify">Vous êtes à la recherche de l'artiste ou du groupe qui animera votre grand jour ?</h3>
      <p class="lead text-justify">Chez Get a Band, nous vous proposons
      une sélection exclusive d'artistes de votre région qui rendront votre mariage inoubliable,
      et nous vous accompagnons à chaque étape du processus de réservation.</p>
      <%= link_to "Je réserve un artiste pour mon mariage", artists_path, class: "btn btn-primary btn-block" %>
    </div>
  </div>

  <h1 class="text-primary text-center pt-5">Produisez-vous à des mariages</h1>
  <div class="row featurette border-top border-bottom p-3">
    <div class="col-md-7 py-4">
      <h3 class="featurette-heading text-justify">Vous êtes un artiste à la recherche d'opportunités ?</h3>
      <p class="lead text-justify">Chez Get a Band, nous vous proposons une plateforme qui vous permettra facilement de trouver des 
      futurs mariés intéressés par votre travail, sur laquelle vous pourrez gérer vos réservations en toute simplicité
       et recevoir des paiements sécurisés.</p>
       <%= link_to "J'indique mes disponibilités à des futurs mariés", artist_session_path, class: "btn btn-primary btn-block" %>
    </div>
    <div class="col-md-5">
      <%= image_tag "homepage_2.jpg", class: "img-fluid", style: "height:400px; object-fit:cover", alt: "homepage image" %>
    </div>
  </div>

  <h1 class="text-primary text-center pt-5">Notre équipe</h1>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-12 pt-2">
          <div class="team text-center rounded p-3 py-4">
            <%= image_tag "woman_icon.png", class: "img-fluid avatar avatar-medium shadow rounded-pill", alt: "team avatar" %>
            <div class="content mt-3">
              <h4 class="title mb-0">Ariane</h4>
              <small class="text-muted">Amatrice de "Qui veut épouser mon fils ?"</small>
              <ul class="list-unstyled mt-3 mb-0">
                <li class="list-inline-item">
                  <%= link_to "https://github.com/arejl", class: "btn btn-primary btn-social" do %>
                      <i class="fab fa-github"></i>
                  <% end %>
                </li>
              </ul>
          </div>
        </div>
      </div>
      
      <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="team text-center rounded p-3 py-4">
              <%= image_tag "man_icon.png", class: "img-fluid avatar avatar-medium shadow rounded-pill", alt: "team avatar" %>
              <div class="content mt-3">
                  <h4 class="title mb-0">Arnaud</h4>
                  <small class="text-muted">Expert de "4 mariages pour une lune de miel"</small>
                  <ul class="list-unstyled mt-3 mb-0">
                      <li class="list-inline-item">
                        <%= link_to "https://github.com/JAG-ROSA", class: "btn btn-primary btn-social" do %>
                            <i class="fab fa-github"></i>
                        <% end %>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      
      <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="team text-center rounded p-3 py-4">
              <%= image_tag "woman_icon.png", class: "img-fluid avatar avatar-medium shadow rounded-pill", alt: "team avatar" %>
              <div class="content mt-3">
                  <h4 class="title mb-0">Caroline</h4>
                  <small class="text-muted">Gagnante des Reines du Shopping spécial mariage</small>
                  <ul class="list-unstyled mt-3 mb-0">
                      <li class="list-inline-item">
                        <%= link_to "https://github.com/Caro407", class: "btn btn-primary btn-social" do %>
                            <i class="fab fa-github"></i>
                        <% end %>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      
      <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
          <div class="team text-center rounded p-3 py-4">
              <%= image_tag "man_icon.png", class: "img-fluid avatar avatar-medium shadow rounded-pill", alt: "team avatar" %>
              <div class="content mt-3">
                  <h4 class="title mb-0">Martin</h4>
                  <small class="text-muted">Marié par Evelyne Thomas sur le plateau de "C'est mon choix"</small>
                  <ul class="list-unstyled mt-3 mb-0">
                      <li class="list-inline-item">
                        <%= link_to "https://github.com/Martinfzz", class: "btn btn-primary btn-social" do %>
                            <i class="fab fa-github"></i>
                        <% end %>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

  <h1 class="text-primary text-center pt-5">Contactez-nous</h1>
    <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <p class="mb-5">Vous souhaitez en savoir plus ? Besoin d'aide ? N'hésitez pas à nous passer un coup de fil ou à nous écrire et nous vous recontacterons dans les plus brefs délais !</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
            <i class="fas fa-phone fa-3x mb-3 text-primary"></i>
            <div>+33 (0)6 12 34 56 78</div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
            <i class="fas fa-envelope fa-3x mb-3 text-primary"></i>
            <%= link_to "getaband@yopmail.com", "mailto:getaband@yopmail.com", class: "d-block text-primary" %>
        </div>
    </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const textWrapper = document.querySelector('.ml16');
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");
    anime.timeline({loop: true})
      .add({
        targets: '.ml16 .letter',
        translateY: [-100,0],
        easing: "easeOutExpo",
        duration: 1400,
        delay: (el, i) => 30 * i
      }).add({
        targets: '.ml16',
        opacity: 0,
        duration: 1000,
        easing: "easeOutExpo",
        delay: 1000
      });
  }, false);
</script>
