<div class="card mb-3 border-0">
  <div class="row no-gutters">
    <div class="col-md-6">
      <% if artist.avatar.attached?%>
        <%= image_tag artist.avatar.variant(resize: "400x400"), class: "img-fluid", style:"height:600px;object-fit:cover", alt:"artist-show-avatar" %> 
      <%else%>
        <%= image_tag "default_pictures/default_artist.jpg", class: "img-fluid", style:"height:600px;object-fit:cover", alt:"artist-show-avatar"%>
      <%end%>
    </div>
    <div class="col-md-6 ">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Nom de l'artiste : </strong> <%= @artist.artist_name %></li>
        <% if @artist.categories.any? %>
          <% @artist.categories.each do |category| %>
            <li class="list-group-item"><strong>Style de musique : </strong> <%= category.label %></li>
          <% end %>
        <% end %>
        <li class="list-group-item"><strong>Description : </strong> <%= @artist.description %></li>
        <li class="list-group-item"><strong>Tarif à la journée : </strong> <%= number_to_currency(24 * @artist.hourly_price, unit: "€", separator: ",", delimiter: "", format: "%n %u") %></li>
      </ul>
    </div>
  </div>
</div>
