<div class="container pt-5 mt-5" id="anchor">
  <div>
    <%= form_with url: artists_path, method: "get", class: "form-inline justify-content-center" do |form| %>

      <%= form.label "Jour de votre évènement", class: "mr-3" %>
      <%= form.date_field :start_date, value: @start_at, class: "form-control", class: "mr-3" %>
      <%= form.submit "Rechercher les artistes disponibles", class: "form-control btn btn-secondary mt-1" %>

    <% end %>
  </div>

  <div class="d-flex flex-wrap justify-content-center" id="available-artists">
    <%= render partial: "available_artists", locals: { artists: @artists } %>
  </div>
</div>
