<div class="container pt-5 mt-5" id="anchor">
  <div class="border">
    <h3 class="text-primary text-center mt-2">Trouvez votre artiste idéal !</h3>
    <div>
      <div class="d-flex justify-content-center">

      <%= form_with url: artists_path, method: "get" do |form| %>


      <%= form.label "Jour de votre évènement", class: "mr-3" %>
      <%= form.date_field :start_date, value: @start_at, class: "form-control", class: "mr-3" %>
    </div>

    <div class="mt-2">
      <h5 class="text-center">Quel genre de musique souhaitez-vous ?</h5>
      <div class="form-check form-check-inline mx-0 my-2 row d-flex justify-content-center">
        <%= form.collection_check_boxes(:categories, @all_categories, :id, :label, include_hidden: false) do |f| %>
        <div class="mx-2 col-2">
          <%= f.label class: "form-check-label pr-2" do %>
          <%= f.check_box class: "form-check-input"%>
          <%= f.text %>
        <% end %>
      </div>
      <% end %>
    </div>

    <details closed="closed" class="col-12">
        <summary>Voir plus de filtres</summary>

        <div class="custom-control custom-switch">
          <%= form.check_box :filter_level, { class: "custom-control-input" } %>
          <%= form.label :filter_level, "Voir des propositions d'artistes qui pourraient vous convenir également", class: "custom-control-label" %>
        </div>

        <%= form.select :location_id, options_from_collection_for_select(@all_locations.order("department ASC"), "id", "department"), { include_blank: 'Département de votre évènement' }, {class: "custom-select"} %>
      </details>
    <%= form.submit "Rechercher les artistes disponibles", class: "form-control btn btn-secondary mt-1" %>
  <% end %>
  </div>
</div>
</div>

 <div class="d-flex flex-wrap justify-content-center" id="available-artists">
    <%= render partial: "available_artists", locals: { artists: @artists } %>
 </div>
</div>
