<div class="container pt-5 mt-5" id="anchor">
  <div class="border">
    <h3 class="text-primary text-center mt-2">Trouvez votre artiste idéal !</h3>
    <div>
      <div class="d-flex justify-content-center">

      <%= form_with url: artists_path, method: "get", local: true do |form| %>

      <%= form.label "Jour de votre évènement", class: "mr-3" %>
      <%= form.date_field :start_date, value: @start_at, class: "form-control", class: "mr-3" %>
    </div>

      <div class="mt-2">
        <h5 class="text-center">Quel genre de musique souhaitez-vous ?</h5>
        <div class="form-check form-check-inline mx-0 my-2 row d-flex justify-content-center">
          <%= form.collection_check_boxes(:categories, @all_categories, :id, :label, include_hidden: false) do |f| %>
          <div class="mx-2 col-2">
            <%= f.label class: "form-check-label pr-2" do %>
            <%= f.check_box class: "form-check-input"%>
            <%= f.text %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

    <%= form.submit "Rechercher les artistes disponibles", class: "form-control btn btn-secondary mt-1" %>
  <% end %>
  </div>
</div>

<div class="d-flex flex-wrap justify-content-center">
<div class="row justify-content-center">
<% if @artists.any? %>
  <% @artists.each_with_index do |artist, index| %>
    <%= render "card", artist: artist %>
  <% end %>
<% else %>
  <div class="text-center mt-3">
    <h3>Malheureusement, aucun de nos artistes n'est disponible pour cette date.</h3>
  </div>
<% end %>
</div>
</div>
</div>
