<div class="container pt-5 mt-5">
  <div class="row justify-content-end pb-2">
    <button class= "btn btn-secondary" onclick="window.history.back()">Retour à la liste</button>
  </div>
  <h1 class="text-center text-primary"><%= @artist.artist_name %></h1>
  <%= render "artist_pictures", artist: @artist %>
  <div class="row pb-4">
      <%= render "artist_presentation", artist: @artist, playlist: @spotify_playlist %>
  </div>
  <div class="row pb-4">
    <div class="col">
    <h4>Voir ses disponibilités</h4>
    <span id="my-calendar"><%= render "calendar", bookings: @bookings %></span>
    <%= link_to "Réservez cet artiste", new_artist_booking_path(@artist.id, start_date: @start_date), class: "btn btn-success btn-block mx-auto my-2" %>
    </div>
  </div>
  <div class="row">
    <h4>Voir d'autres artistes dans la même région</h4>
  </div>
</div>
<div class="col-lg-12">
  <div class="row justify-content-center">
    <% @sample_artists.each do |artist| %>
      <%= render "artists/card", artist: artist %>
    <% end %>
  </div>
  <%= render "reviews", reviews: @reviews, average_review: @average_review%>
</div>