<div class="container pt-5 mt-5">
  <h3>Réservez cet artiste</h3>
  <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-8">
        <img src="https://i-dja.unimedias.fr/sites/art-de-vivre/files/styles/large/public/dj115_chaton_jardin_annala.jpg?auto=compress%2Cformat&crop=faces%2Cedges&cs=srgb&fit=crop&h=599&w=900" , alt= "Image", class= "card-img-top" >
      </div>
      <div class="col-md-4 ">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Nom de l'artiste : </strong> <%=@artist.artist_name%></li>
          <li class="list-group-item"><strong>Catégorie : </strong></li>
          <li class="list-group-item"><strong>Nbre d'artiste(s) : </strong>1</li>
          <li class="list-group-item"><strong>Espace nécessaire : </strong>10 m²</li>
        </ul>
      </div>
    </div>
    <div class="row no-gutters d-flex justify-content-center">
      <div class="card-body ">
          <button class= "btn btn-secondary float-right" onclick="goBack()">Return to list</button><br/>



          <%= form_tag url_for(artist_bookings_path(@artist.id)), method: "post" do %>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Début (Obligatoire): </strong><%= date_field_tag 'start_date', nil, autofocus: true, placeholder:"YYYY-MM-DD HH:MM:SS"%> </li>
              <li class="list-group-item"><strong>Durée de la prestation  : </strong>24h</li>
              <li class="list-group-item"><strong>Prix  : </strong><%= @artist.hourly_price * 24%> €</li>
              <li class="list-group-item"><strong>Lieu  : </strong><%=@artist.location.department%></li>
              <li class="list-group-item"><strong>Description de l'artiste: </strong><%= @artist.description %></li>
              <li class="list-group-item"><strong>Ajouter des informations complémentaires à la réservation: </strong><br/><%= text_area_tag 'description', nil, size: "250x3", placeholder:"Rédiger votre demande à l'attention de l'artiste", class: "form-control" %></li>
            </ul>
            <%# Submit button to create booking %>
            <%= submit_tag "Confirmez la réservation",class: "btn btn-danger mx-3" %>
          <% end %>

        </div>
    </div>
  </div>
</div>
