<%= form_with url: artist_bookings_path(artist_id: params[:artist_id]), method: "post", local: true do |form| %>
  <ul class="list-group list-group-flush">

    <li class="list-group-item"><strong>Date de la réservation (Obligatoire): </strong>
      <%= form.date_field :start_date, value: @start_date, required: true  %>

    </li>
    <li class="list-group-item"><strong>Durée de la prestation  : </strong>
      24h
    </li>
    <li class="list-group-item"><strong>Prix  : </strong>
      <%= artist.hourly_price * 24 %> €
    </li>
    <li class="list-group-item"><strong>Lieu  : </strong>
      <%= artist.location.department %>
    </li>
    <li class="list-group-item"><strong>Description de l'artiste: </strong>
      <%= artist.description %>
    </li>
    <li class="list-group-item"><strong>Ajouter des informations complémentaires à la réservation: </strong>
      <br/><%= form.text_area :description, size: "250x3", placeholder: "Rédiger votre demande à l'attention de l'artiste", class: "form-control" %></li>
  </ul>
  <%= form.submit "Confirmez la réservation", class: "btn btn-primary btn-block mt-3" %>
<% end %>
<%= link_to "Retour", artist_path(artist.id),  class: "btn btn-secondary btn-block mt-3" %>
