<% if bookings.where(status: "pending").empty? %>
  <p class="text-center text-secondary py-4">Vous n'avez pas de réservation en attente.</p>
<% else %>
  <table class="table table-hover table-responsive-lg">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email Client</th>
      <th scope="col">Date de l'événement</th>
      <th scope="col">Description de l'événement</th>
      <th scope="col">Montant</th>
      <th scope="col">Statut</th>
      <th scope="col" colspan="2" class="text-center">Confirmer</th>
    </tr>
  </thead>
    <tbody>
      <% bookings.where(status: "pending").each do |booking| %>
        <tr>
          <th scope="row"><%= booking.id %></th>
          <td><%= booking.user.email %></td>
          <td><%= booking.start_date.strftime("%d/%m/%Y") %></td>
          <td><%= booking.description %></td>
          <td><%= number_to_currency(booking.total_price, unit: "€", separator: ",", delimiter: "", format: "%n %u") %></td>
          <td>En attente</td>
          <td class="text-center"><%= link_to "Accepter", artist_booking_path(artist_id: current_artist.id, id: booking.id), method: :patch, class: "btn btn-success btn-sm", remote: true %></td>
          <td class="text-center"><%= link_to "Refuser", artist_booking_path(artist_id: current_artist.id, id: booking.id), method: :delete, data: { confirm: "Êtes-vous sûr.e ?" }, class: "btn btn-danger btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>