<%= form_with(model: @artist, local: true, multipart: true) do |form| %>
  <%= form.file_field :pictures, multiple: true, required: true %>
  <%= form.submit "Ajouter des images", class: "form-control btn btn-primary btn-block mx-auto w-50" %>
<% end %>

<div class="mt-3 py-3">
  <div id="artist-dashboard-index" class="row container-horizontal d-flex justify-content-center">
    <% if artist.pictures.attached? %>
      <% artist.pictures.each do |picture| %>      
        <div id="picture-<%= picture.id %>" class=" img-order mr-2 text-center" >
          <% if picture.variable? %>
            <%= image_tag picture.variant(resize: "300x300"), alt: "picture", class: "border border-dark" %>
            <%= link_to artist_picture_path(artist, picture), method: "Delete", alt: "picture", class:"btn btn-danger w-75" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p class="text-center text-secondary py-2">Il n'y a pas encore d'images.</p>
    <% end %>
  </div>
</div>
