<h5>Ajouter des images aux profils</h5>
<%= form_with(model: @artist, local: true, remote: true, multipart: true) do |form|  %>
  <%= form.file_field :pictures, multiple: true %>
  <%= form.submit "Ajouter des images", class: "form-control btn btn-primary" %>
<%end%>

<div class="mt-3 py-3">
  <div id="artist-dashboard-index" class="row container-horizontal d-flex justify-content-center">
    <%if artist.pictures.attached?%>
      <% artist.pictures.each do |picture|%>      
        <div id="picture-<%=picture.id%>" class="img-thumbnail img-order my-2" >
          <%if picture.variable?%>
            <%= image_tag picture.variant(resize: "400x400"), alt: "picture"%>     
            <%= link_to "X", artist_picture_path(artist, picture), method: "Delete", alt: "picture"%>
          <%end%>
        </div>
      <%end%>
    <%else%>
      <p>=== Il n'y a pas encore d'images ===</p>
    <%end%>
  </div>
</div>
