<div class="col-lg-10 mx-auto mt-5 pt-5">
  <h1 class="text-center text-primary mb-3">Bienvenue sur votre espace de gestion</h1>

  <% if current_artist.status == "pending" %>
    <p class="alert alert-danger">Votre profil est en attente. Complétez-le pour pouvoir commencer à utiliser Get a Band.<br/>
      Si vous avez complété votre profil depuis plus de 24h, contactez-nous par mail à l'adresse getabandadmin@yopmail.com.</p>
  <% elsif current_artist.status == "approved" %>
  <% else %>
    <p class="alert alert-warning">Votre profil a été suspendu. Contactez-nous par mail à l'adresse getabandadmin@yopmail.com.</p>
  <% end %>

  <h3>Vos identifiants de connexion</h3>
  <table class="table table-hover">
    <tbody>
      <tr>
        <th scope="row">Email</th>
        <td><%= current_artist.email %></td>
      </tr>
    </tbody>
  </table>
  <div class="text-center mb-5">
    <%= link_to "Modifier vos identifiants de connexion", edit_artist_registration_path, class: "btn btn-primary w-50" %>
  </div>

  <h3>Votre profil</h3>
  
  <h5>Ajouter un avatar</h5>
  <%= render "avatar_form", artist: current_artist %>
  <h5>Modifier les informations du profil</h5>
  <%= render partial: "profile_details", locals: { artist: current_artist } %>
  <h5>Ajouter des photos supplémentaires au profil</h5>
  <%= render "pictures_form", artist: @artist, deleted_picture: @deleted_picture %>

  <h3 id="booking-list">Vos réservations</h3>

  <h5>Réservations en attente</h5>
  <div id="pending-reservations">
    <%= render partial: "pending_reservations", locals: { bookings: @bookings } %>
  </div>

  <h5>Réservations confirmées à venir</h5>
  <div id="confirmed-reservations">
    <%= render partial: "confirmed_reservations", locals: { bookings: @bookings } %>
  </div>    


  <h5>Réservations passées</h5>
  <div id="past-reservations">
    <%= render partial: "past_reservations", locals: { bookings: @bookings } %>
  </div> 

  <h3 id="booking-list">Vos évaluations clients</h3>

  <h5>Evaluations reçues</h5>
  <div id="user-reviews" class="table-responsive-lg">
    <%= render partial: "user_reviews", locals: { reviews: @reviews } %>
  </div> 
</div>
