<div class="form-group container pt-5 mt-5">
  <h1>Update your personal information</h1>
  <%= form_with model: @user, method: "patch", local: true do |form| %>
  <%= form.label :first_name, 'Prénom' %>
  <%= form.text_field :first_name, class: "form-control" %>
  <br/>
  <br/>

  <%= form.label :last_name, 'Nom' %>
  <%= form.text_field :last_name, class: "form-control" %>
  <br/>
  <br/>

  <%= form.submit "Valider mes informations de profil", class: "form-control btn btn-primary" %>
  <%= link_to "Modifier mon email ou mon mot de passe", edit_user_registration_path, class: "form-control btn btn-danger mt-3" %>
  <%= link_to "Retour au profil", user_path(current_user.id), class: "form-control btn btn-secondary mt-3" %>
  <% end %>

</div>
