<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>Bonjour <%= @artist.artist_name %>,</h1>
  <p>Vous avez une nouvelle demande de réservation en attente sur Get a Band.</p>
  <p>Voici les détails de la demande :</p>
  <ul>
    <li>E-mail client : <%= @booking.user.email %></li>
    <li>Date de début de l'événement : <%= @booking.start_date.strftime("%d/%m/%Y") %></li>
    <li>Date de fin de l'événement : <%= @booking.calculate_end_date.strftime("%d/%m/%Y") %></li>
    <li>Montant de la réservation : <%= number_to_currency(@booking.total_price, unit: "€", separator: ",", delimiter: "", format: "%n %u") %></li>
    <li>Détails supplémentaires fournis par le client : <%= @booking.description %></li>
  </ul>
  <p>Confirmez cette demande dans votre espace personnel.</p>
  <p>A bientôt sur <%= link_to "Get a Band", @url %> !</p>
</body>
</html>