<div class="container pt-5 mt-5">
  <h2 class="text-center">Mot de passe oublié ?</h2>
  <%= render "artists/shared/error_messages", resource: resource %>
  <div class="col-lg-8 mx-auto">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: :email, class: "w-100" %>
      </div>

      <div class="actions">
        <%= f.submit "Envoyez moi les informations de récupération", class: "btn btn-block mt-3", style: "border-radius: 20px;
                                                                    border: 1px solid #FF4B2B;
                                                                    background-color: #FF4B2B;
                                                                    color: #FFFFFF;
                                                                    font-size: 12px;
                                                                    font-weight: bold;
                                                                    padding: 12px 45px;
                                                                    letter-spacing: 1px;
                                                                    text-transform: uppercase;
                                                                    transition: transform 80ms ease-in;" %>
      </div>
    <% end %>

    <%= render "artists/shared/links" %>
  </div>
</div>