<div class="form-group container pt-5 mt-5">
  <h1>Laissez une évaluation </h1>
  <%= form_with url: artist_booking_reviews_path(@artist.id, @booking.id), method: "post" ,local: true do |form| %>
  
  <div class="d-flex align-items-center">
    <%= form.label :rating, "Noter la performance de l'artiste", class: "mr-4" %>
    <%= form.select :rating, @note, include_blank: true, required:true %>
  </div>
  <br/>

  <%= form.label :comment, "Laisser un commentaire" %>
  <%= form.text_area :comment, class: "form-control", placeholder: "Dites à l'artiste ce que vous avez pensé sur sa prestation musicale, son professionalisme, donnez-lui des retours de vos invités...", required: true %>
  <br/>

  <%= form.submit "Valider votre commentaire", class: "form-control btn btn-primary" %>
  <% end %>
  <%= link_to "Retour au profil", current_user, class: "form-control btn btn-secondary mt-2" %>
</div>