<div class="container pt-5 mt-5">
  <h2 class="text-center">Mon calendrier</h2>
  <div id="my-calendar">
    <%= render partial: "calendar", locals: { bookings: @bookings } %>
  </div>

  <h2 class="text-center mt-5">Mes disponibilités</h2>
  <%= form_with url: artist_availabilities_path(artist_id: current_artist.id), method: "post" do |form| %>
    <table class="table text-center my-5">
      <thead>
        <tr>
          <th scope="col">Date de début</th>
          <th scope="col">Date de fin</th>
          <th scope="col">Valider</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= form.date_field :start_date, class: "form-control w-75 mx-auto" %></td>
          <td><%= form.date_field :end_date, class: "form-control w-75 mx-auto" %></td>
          <td><%= form.submit "Valider", class: "btn btn-secondary text-uppercase w-75 mx-auto font-weight-bold" %></td>
        </tr>
      </tbody>
    </table>
  <% end %>

  <div id="my-availabilities">
    <%= render partial: "availability_list", locals: { availabilities: @availabilities } %>
  </div>
</div>
